// Font families.
//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@font-face {
  font-family: "Noto Serif SC";
  src: url("../fonts/NotoSerifSC-Regular.otf") format("opentype");
}

$font-family-chinese      = "Noto Serif SC" ,"PingFang SC", "Microsoft YaHei";
$font-family-subtitle     =  "Kaushan Script", "Noto Serif SC"

// 设置卡片是圆角的
$border-radius-inner     = 15px 15px 15px 15px;
$border-radius           = 15px;
$body-bg-color           = rgba(255,255,255,0.00);
