// Font families.
//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@font-face {
  font-family: "Noto Serif SC";
  src: url("../fonts/NotoSerifSC-Regular.otf") format("opentype");
}

$font-family-chinese      = "Noto Serif SC" ,"PingFang SC", "Microsoft YaHei";
$font-family-subtitle     =  "Kaushan Script", "Noto Serif SC"

// 设置卡片是圆角的
$border-radius-inner     = 15px 15px 15px 15px;
$border-radius           = 15px;
$body-bg-color           = rgba(255,255,255,0.00);


$whitesmoke   = #f5f5f5;
$gainsboro    = #eee;
$grey-lighter = #E5EDF1;
$grey-light   = #BDD2DB;
$grey         = #A3C1CC;
$grey-dark    = #6E9DAF;
$grey-dim     = #507E91;
$black-light  = #416776;
$black-dim    = #3A5C69;
$black-deep   = #284B63;
$red          = #A4243B;
$blue-bright  = #87daff;
$blue         = #0684bd;
$blue-deep    = #262a30;
$orange       = #BD632F;
